<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- START CHECKOUT MODIFICATIONS -->
    <type name="Magento\Checkout\Block\Cart\LayoutProcessor">
        <plugin name="change_checkout_cart_shipping_estimate_form" type="TheITNerd\Brasil\Plugin\Magento\Checkout\Block\Cart\LayoutProcessorPlugin"/>
    </type>

    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="change_checkout_page_shipping_estimate_form" type="TheITNerd\Brasil\Plugin\Magento\Checkout\Block\Checkout\LayoutProcessorPlugin"/>
    </type>
    <!-- END CHECKOUT MODIFICATIONS -->

    <!-- START POSTCODE SEARCH API -->
    <type name="TheITNerd\Core\Model\Config\PostcodeAdapters">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="theitnerd_brasil_viacep_postcode_adapter" xsi:type="string">TheITNerd\Brasil\Model\Clients\ViaCEP\ViaCEPClient</item>
            </argument>
        </arguments>
    </type>
    <!-- END POSTCODE SEARCH API -->

</config>
